@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-semibold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  h4 {
    @apply text-lg font-semibold;
  }
  h5 {
    @apply text-base font-semibold;
  }
  h6 {
    @apply text-sm font-semibold;
  }
  input {
    @apply text-sm outline-none bg-transparent;
  }
}

@layer components {
  .amd-border {
    @apply border border-white/15 rounded-lg bg-transparent;
  }
}

body {
  background-color: #0d1117;
  color: #fff;
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 4px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 3px;
}

/* Color Picker */
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}

/* Input Range */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 12px;
  background: transparent;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 20px;
  border: 3px solid #10b981;
  background: transparent;
  cursor: pointer;
}

/* Input number */
input[type="number"] {
  position: relative;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
